
/* Gif colors
    light blue-#A2C5F2
    darker blue-#61808C
    light green-#C5D9D3
    pink- #F0B5B6
    black-#0D0D0D */

body {
    background-color: #F0B5B6 ;
    max-width: 1200px;
    margin: auto;
    font-family: 'Crimson Text', serif;
 }

header {
    width: 300px;
    position: fixed;
    top: 10px;
    left: 25px;
    text-align: center;
}

#welcome {
    background-color:
    #C5D9D3;
    width: 350px;
    margin-left: 50%;
    margin-top:25px;
    text-align: center;
    border: 1px black solid;
}

nav {
    background-color:
    #C5D9D3;
    width: 300px;
    height: 500px;
    overflow: scroll;
    position: fixed;
    top: 150px;
    left: 5%;
    text-align: center;
    border: 1px black solid;
}

a {
    text-decoration: none;
    color: black;
}

nav h5:hover {
    background-color:#61808C;
}

main {
    width: 50%;
    margin-left: 450px;
    text-align: center;
    display: block;
}

#feedgif {
   margin-left: 5%; 
width: 125px;
}

#feedgif:hover {
    opacity: 0.5 ;
}

section {
    border: 2px black solid;
    margin-top: 37px;
    padding: 25px;
    width: 100%
    text-align:center;
    background-color:#F0B5B6;
    border-radius:30px; 
}

    section img {
        border: 1px black solid;
        border-radius: 30px;
    }

    section:hover {
        border: 3px solid black;
        border-radius: 0px;
        background-color: #C5D9D3;
     }

footer {
    background-color: #C5D9D3;
    width: 300px;
    height: auto;
    position: fixed;
    padding: none;
    bottom: 1%;
    margin-top: 10%;
    margin-left: 5%;
    text-align: center;
    border: 1px black solid;
}

h6 {
    font-size: 10px;
    text-decoration: underline;
}

#button {
    width: 30%;
    margin-left: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    display: block;
    border: 1px black solid;
    background-color:#C5D9D3;
}

a:visited {
    color: black;
}

a: link {
    color: black;
} 

  #button:hover {
    background-color:#61808C;
  }

h5 {
    margin-left: 3%;
    margin-bottom: 1%;
}


/* below are specifications for the homepage*/
#homenav {
    text-align: center;
    background-color:#F0B5B6;
    border: none;
}

#homeheader {
    display: block;
    text-align: center;
    top: 35%;
    left: 40%;
    width: auto;
}

#homegif {
    width: 350px;
    height: 350px;
}

 #homegif:hover {
    opacity: 0.5 ;
}

/* above are specifications for the the feed*/
